apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - rbac.yaml
  - deployment.yaml
  - ingress.yaml
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: k8s-dashboard
